.header-container {
  display: flex; /* Sử dụng flexbox để đặt logo và menu cạnh nhau */
  align-items: center; /* Căn giữa logo và menu theo chiều dọc */
  justify-content: space-between;
  width: 100%;
  background-color: black;
  top: 0;
  margin: 5px 0;
}

.menu-header {
  /* flex-grow: 1; */
  background-color: #fff; /* Màu nền cho menu */
  border-bottom: none;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-header .ant-menu-item {
  margin-right: 20px;
}

.menu-right {
  margin-left: auto;
}

.logo {
  margin-right: 20px;
  padding-left: 12px;
}

.auth-buttons {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các nút */
  margin-right: 12px;
  position: relative;
}

/* Login and Sign Up */
.signup-btn {
  padding: 12px 24px;
  background-color: white;
  color: black;
  border-radius: 28px;
  text-decoration: none;
  font-weight: bold;
  max-width: fit-content;
  box-sizing: border-box;
  font-size: 20px;
}

.login-btn {
  padding: 12px 24px;
  color: var(--text-subdued, #656565);
  border-radius: 28px;
  text-decoration: none;
  font-weight: bold;
  max-width: fit-content;
  box-sizing: border-box;
  font-size: 20px;
}

.login-btn:hover {
  color: white;
}

.signup-btn:hover {
  background-color: #b3b3b3;
  color: black;
}

/* Log out */
.logout-btn {
  padding: 12px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff7875;
}

/* search box */
.search-box {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 auto;
  flex-shrink: 0;
  width: 400px;
}

.search-icon {
  color: #919191;
  font-size: 28px;
  cursor: pointer;
  margin-left: 8px; /* Khoảng cách giữa ô tìm kiếm và icon */
  margin-right: 8px;
}

.search-input {
  max-width: 500px;
  padding: 12px; /* Padding cho ô tìm kiếm */
  border: 1px solid #ccc; /* Viền cho ô tìm kiếm */
  background-color: #1F1F1F;
  color: white;
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
}

.search-icon:hover {
  color: white;
}
