/* Sidebar Container */
.slider-bar {
  background-color: #282c34; /* Dark background for the sidebar */
  color: #ffffff; /* White text color */
  flex-direction: column;
  border-radius: 20px;
  margin: 0 10px;
  transition: width 0.2s ease, height 0.2s ease; /* Smooth resizing */
}

.library {
  display: flex;
  height: 50px;
  margin: 30px 25px auto;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.library-content {
  font-size: 28px;
}

/* Expand/Collapse Buttons */
.slider-bar-toggle-button {
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.slider-bar-toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar-toggle-icon {
  font-size: 20px;
  margin: 5px 5px auto;
}


/* Sidebar Content */
.slider-bar-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;  /* Enable vertical scrolling */
  max-height: calc(90vh - 60px);  /* Adjust for header height */
  box-sizing: border-box;
}

.slider-bar-lists {
  display: flex;
  flex-direction: column;
}

.slider-bar-list {
  position: relative;
  display: flex;
  width: 270px;
  height: 70px;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.slider-bar-list:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}
.slider-bar-image {
  width: 70px;
  height: 70px;
  padding: 5px;
}

.slider-bar-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 15px;
}
.slider-bar-name {
  font-weight: bold;
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slider-bar-role {
  font-size: 12px;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slider-bar-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(74, 74, 74, 0.3); 
  top: 50%;
  left: 12.9%;
  transform: translate(-50%, -50%);
}

.slider-bar-hover-icon {
  font-size: 36px;
  margin: 10px 15px auto;
}

.slider-bar-lists .anticon svg {
  color: #000000 !important; 
}

.slider-bar-icon .anticon svg {
  color: #ffffff !important; 
}

.slider-bar:hover .slider-bar-hover-icon {
  display: block; 
}

/* Sidebar Artists */

.slider-bar-artist-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 5px;
}

.slider-bar-artist-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 15px;
}

.slider-bar-artist-name {
  font-weight: bold;
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slider-bar-artist-role {
  font-size: 12px;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Hover Icon */
.slider-bar-artist-icon {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(74, 74, 74, 0.3); 
  width: 60px;
  height: 60px;
  top: 50%;
  left: 12.9%;
  transform: translate(-50%, -50%);
}

.slider-bar-artist-hover-icon {
  font-size: 36px;
  margin: 10px 15px auto;
}

.slider-bar-artist-icon .anticon svg {
  color: #ffffff !important; 
}

/* Customize Scrollbar */
.slider-bar-content::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
}

.slider-bar-content::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
  background-color: #888;  /* Thumb color */
  border-radius: 10px;
}

.slider-bar-content::-webkit-scrollbar-thumb:hover,
.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Thumb hover color */
}
